#body {
    background-color: white;
}

/*#board {
    height: 500px; 
    width: 500px; 
    border: 15px lightsalmon;
    position: relative; 
    background-color: white;
}
*/


#mydiv {
    position: absolute;
    z-index: 9;
    text-align: center;
  }
  
  #mydivheader {
    cursor: move;
    z-index: 10;
    height: 100px; 
    width: 100px; 
  }

  #img {
      height: 100px; 
      width: 100px; 
  }

  #reload {
      background-color: lightsalmon;
      border: none; 
      color: white; 
      padding: 10px 15px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px; 
      margin: 4px 2px;
      position: fixed; 
      bottom: 0px; 
      right: 0px; 
      border-radius: 2px;
  }